.contact-card {
    position: relative;
    width: 60%;
    height: 100%;
    margin: 2rem auto;
    background: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom: 3rem;

    h1 {
        font-size: 3.5rem;
        padding: 1rem;
        margin: 2rem 3rem;
    }

    .icons {
        padding: 0 3rem;
        display: grid;
        grid-template-rows: repeat(4, minmax(2rem, 1fr));
        grid-template-columns: repeat(2, 1fr);

        div {
            list-style: none;
            cursor: pointer;
            position: relative;
            margin: 1rem;
            width: 5rem;
            height: 5rem;

            img {
                width: 100%;
                height: 100%;
            }
        }

        div::after {
            font-size: 2rem;
            white-space: nowrap;
            position: absolute;
            top: 50%;
            left: 6rem;
            transform: translateY(-50%);
            border-right: 2px solid $clr-primary-400;
            overflow: hidden;
            width: 0;
            transition: width 500ms ease-in-out;
        }

        .github {
            grid-row: 1/2;
            grid-column: 1/2;
            &::after {
                content: "GitHub";
            }
            &:hover::after {
                width: 7.5rem;
            }
        }

        .linkedin {
            grid-row: 1/2;
            grid-column: 2/3;
            &::after {
                content: "LinkedIn";
            }
            &:hover::after {
                width: 9.5rem;
            }
        }

        .email {
            grid-row: 3/4;
            grid-column: 1/2;
            &::after {
                content: "Email";
            }
            &:hover::after {
                width: 6.5rem;
            }
        }

        .phone {
            grid-row: 3/4;
            grid-column: 2/3;

            &::after {
                content: "+1 (914) 260-4235";
            }
            &:hover::after {
                width: 17.5rem;
            }
        }
    }
}

// change to vertical row on medium screens
@media screen and (max-width: 870px) {
    .contact-card .icons {
        .linkedin {
            grid-row: 2/3;
            grid-column: 1/2;
        }
        .email {
            grid-row: 3/4;
            grid-column: 1/2;
        }
        .phone {
            grid-row: 4/5;
            grid-column: 1/2;
        }
    }
}

// enlarge card on smaller screens
@media screen and (max-width: 500px) {
    .contact-card {
        width: 90%;
        height: 90%;
        min-width: 30rem;
    }
}
