.three-container {
    overflow: hidden;
    height: 90vh;
}

.no-js .three-container::after {
    content: "You must enable JavaScript to view this";
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// make sure height is exact to prevent scrolling on mobile
@media screen and (max-width: 500px) {
    .three-container {
        height: 86vh;
    }
}
