.info-container {
    position: relative;
    min-height: 90vh;
    width: 100%;
    display: flex;
}

.main-card {
    position: relative;
    width: 60%;
    height: 100%;
    min-width: 46rem;
    margin: 2rem auto;
    background: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

    display: grid;
    grid-template-columns: 10% repeat(3, 1fr) 10%;
    grid-template-rows: 5rem 20rem repeat(4, 7.5rem) 5rem;

    h2 {
        grid-row: 2/3;
        grid-column: 2/3;
        display: flex;
        align-items: center;
    }

    .headshot {
        grid-row: 2/3;
        grid-column: 4/5;
        display: flex;
        justify-self: right;
        width: 20rem;
        height: 20rem;
        img {
            border-radius: 50%;
        }
    }

    .info {
        grid-row: 3/6;
        grid-column: 2/5;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        p {
            font-size: 2.5rem;
            line-height: 150%;
            color: $clr-neutral-600;
        }
    }

    .btn-contact a,
    .btn-projects a {
        font-size: 2.5rem;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        transition-property: background-color, color;
        transition-duration: 300ms;
        border-radius: 100rem;
        padding: 0.5rem 1.5rem;
    }

    .btn-contact a {
        color: $clr-primary-300;
        background-color: white;
        border: 2px solid $clr-primary-300;
    }
    .btn-contact a:hover {
        color: white;
        background-color: $clr-primary-300;
    }
    .btn-projects a {
        color: white;
        background-color: $clr-primary-400;
        border: 2px solid $clr-primary-400;
    }
    .btn-projects a:hover {
        background-color: $clr-primary-300;
        border: 2px solid $clr-primary-300;
    }

    .btn-contact,
    .btn-projects {
        grid-row: 6/7;
        position: relative;
    }
    .btn-contact {
        grid-column: 3/4;
    }
    .btn-projects {
        grid-column: 4/5;
    }
}

// adjustments for medium size screens
@media screen and (max-width: 880px) {
    .main-card .headshot {
        width: 19rem;
        height: 19rem;
    }
}

// adjustments for smaller screens
@media screen and (max-width: 500px) {
    // larger card
    .main-card {
        width: 90%;
        height: 90%;
        min-width: 30rem;

        grid-template-columns: 10% repeat(3, 1fr) 10%;
        grid-template-rows: 2rem 16rem repeat(4, 7.5rem) 2rem;

        .headshot {
            width: 16rem;
            height: 16rem;
        }

        .info {
            justify-content: space-evenly;
            p {
                font-size: 2rem;
            }
        }

        .btn-contact a,
        .btn-projects a {
            position: relative;
            display: inline-block;
            top: 50%;
            left: auto;
            transform: translateY(-50%);
            font-size: 2rem;
        }
        .btn-contact {
            grid-column: 2/3;
            text-align: left;
            a {
                margin-left: 1rem;
            }
        }
        .btn-projects {
            text-align: right;
            a {
                margin-right: 1rem;
            }
        }
    }
}
